<div id='firechat' class='full'>
  <div id='firechat-header' class='clearfix'>
    <div class='clearfix'>

      <div class='full firechat-dropdown' style=''>

        <a id='firechat-btn-rooms' class='firechat-dropdown-toggle btn full' data-toggle="firechat-dropdown" href='#'>
          <span class='icon user-chat'></span>
          Chat Rooms
          <span class='caret'></span>
        </a>

        <div class='firechat-dropdown-menu full' role='menu'>
          <ul id='firechat-room-list'></ul>
        </div>

      </div>

    </div>

  </div>
  <div id='firechat-tabs' class='clearfix'>
    <ul id='firechat-tab-list' class='nav nav-tabs clearfix'></ul>
    <div id='firechat-tab-content' class='tab-content'></div>
  </div>

  <div id='firechat-footer' class='clearfix'></div>
</div>
